body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#background-image {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.background.with-image {
    background-image: url("");
  }

  #container {
    width: 80%;
    margin: 0 auto;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  